*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: rgb(235, 224, 211);
}

.container{
    
    background-color: white;
    padding: 20px 0px 20px 20px;
    margin: 50px auto;
    max-width: 100%;
    width: 700px;
    border-radius: 20px;
    
}

img{
    max-width: 100%;
    width: 95%;
    border-radius: 10px;
    margin: 5px;
}

h1{
    margin: 10px;
}

p{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 8px;
}

h4{
    color:rgb(126, 2, 126);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px ;
}

.prep{    
    background-color: #fdeaed;
    border-radius: 10px;
    margin: 20px 10px;
    padding: 10px 0px 20px 20px;
    width: 94%;
}

h2{
    color:rgb(124, 70, 15);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 10px;
}

li{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 50px;
    width: 90%;
    padding: 3px 10px;
    
}

hr{
    border-style: groove;
    margin: 20px 30px 20px 0px;
}

table{ 
    width: 90%;
    line-height: 30px;
    margin: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.brown{
    font-weight: bold;
    color: rgb(141, 43, 14);
}